body,
html {
  margin: 0 auto;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.mainStyles {
  opacity: 0;
  transition: all 2s ease-in-out;
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3E%3Cg fill='%23008080' fill-opacity='0.13'%3E%3Cpath fill-rule='evenodd' d='M0 0h4v4H0V0zm4 4h4v4H4V4z'/%3E%3C/g%3E%3C/svg%3E");
  background-color: rgba(0, 128, 128, 0.75);
  font-size: 100%;
  transition: all 0.2s ease-in-out;
}
.mainStyles.loaded {
  opacity: 1;
}
.mainStyles .sections {
  margin: 20px auto 0;
  z-index: 3;
}
.mainStyles .logo-wrapper,
.mainStyles .skills-wrapper {
  position: relative;
  display: inline-block;
  z-index: 2;
  vertical-align: middle;
}
.mainStyles .skills-wrapper {
  z-index: 0;
}
.mainStyles .logo {
  padding: 0 10px;
  display: inline-table;
  margin: 0 auto;
  font-weight: normal;
  position: relative;
}
.mainStyles .logo .title {
  font-size: 5em;
  margin: 0 auto;
  position: relative;
}
.mainStyles .logo .title .side-sub {
  font-size: 0.29em;
  font-weight: normal;
  display: inline-block;
  transform: rotate(90deg);
  vertical-align: middle;
  position: absolute;
  left: calc(100% - 40px);
  top: 25px;
}
.mainStyles .logo .sub-title {
  margin: -15px auto 0;
  letter-spacing: normal;
  text-indent: .092em;
  text-transform: uppercase;
  font-size: 2em;
}
.mainStyles .logo.shadow {
  position: absolute;
  transform: skew(-50deg) rotateY(-2deg) rotateX(73deg);
  color: transparent;
  text-shadow: 0 0 9px rgba(0, 128, 128, 0.49);
  top: calc(100% - 5em);
  left: 30px;
}
.mainStyles .skills {
  display: block;
  min-width: 300px;
  margin: 0;
  border-spacing: 10px 0;
}
.mainStyles .skills .items {
  display: inline-block;
  vertical-align: middle;
  font-size: 1em;
  min-width: 50px;
  padding: 1% 20px;
  position: relative;
  border-radius: 0;
  background-color: rgba(0, 128, 128, 0.5);
  transition: all 0.09s ease-in-out;
}
.mainStyles .skills .items:first-child {
  background-color: rgba(0, 128, 128, 0.25);
}
.mainStyles .skills .items:last-child {
  background-color: rgba(0, 128, 128, 0.75);
}
.mainStyles .skills .items:hover {
  padding: 6.25% 20px;
}
.mainStyles .skills .items .inner {
  display: table;
  position: relative;
  margin: 10px auto 0;
}
.mainStyles .bottom {
  position: absolute;
  bottom: 0;
  display: block;
}
.mainStyles .header-container {
  background: rgba(0, 128, 128, 0.1);
  display: table;
  margin: 0 auto;
  padding: 20px 10px;
}
.mainStyles .main-container {
  background: rgba(0, 128, 128, 0.005);
  display: block;
  margin: 0 auto;
  position: relative;
  padding: 20px 20px 0;
  height: auto;
  min-height: calc(100vh - 20px);
  box-shadow: 0 0 300px inset rgba(0, 0, 0, 0.3);
}
.mainStyles .main-image {
  display: table;
  margin: 0 auto;
}
.mainStyles .main-image:before {
  content: " ";
  width: 151px;
  height: 151px;
  display: inline-block;
  vertical-align: middle;
  background-image: url("../images/toonMe.jpg");
  background-position: -143px -59px;
  border-radius: 50%;
  border: 15px solid rgba(0, 128, 128, 0.36);
  box-shadow: 0 0 105px inset rgba(0, 128, 128, 0.6);
  margin: 10px auto;
}
.mainStyles .main-image img {
  display: none;
  transition: all 1s ease-in-out;
  transform: rotate(0deg);
}
.mainStyles .info-wrapper {
  display: table;
  margin: 0 auto;
}
.mainStyles .info-text {
  display: table;
  vertical-align: middle;
  text-align: center;
  padding: 20px;
  background: rgba(253, 253, 253, 0.6);
  border-radius: 5px;
  margin: o auto;
}
.mainStyles .social-icons {
  display: table;
  padding: 0;
}
.mainStyles .social-icons .item {
  display: table-cell;
  padding: 0 10px;
  vertical-align: middle;
}
.mainStyles .social-icons .item a {
  display: block;
}
.mainStyles .social-icons .item a svg {
  display: block;
  background: white;
  border-radius: 50%;
  padding: 2px;
  transition: all 0.03s ease-in-out;
}
.mainStyles .social-icons .item a svg.linked-in:hover {
  box-shadow: 0 0 10px rgba(0, 0, 128, 0.75) !important;
  background: #007AB9;
}
.mainStyles .social-icons .item a svg.linked-in:hover path {
  fill: white !important;
  transition: all 0.3s ease-in-out;
}
.mainStyles .social-icons .item a svg.gitHub:hover {
  box-shadow: 0 0 10px white !important;
  background: black;
}
.mainStyles .social-icons .item a svg.gitHub:hover path {
  fill: white !important;
  transition: all 0.3s ease-in-out;
}
.mainStyles .social-icons .item a svg path {
  transition: all 0.3s ease-in-out;
}
.mainStyles .hide {
  display: none;
}
.mainStyles.layout_2 {
  background-color: rgba(0, 128, 128, 0.75);
}
.mainStyles.layout_2 .main-image {
  position: relative;
  /*
      &:after {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 50%;
        left: 50px;
        bottom: -50px;
        background: rgba(0, 128, 128, 0.75);
        transform: rotateX(84deg) skew(-48deg) rotate(56deg);
        z-index: -1;
      }
*/
}
.mainStyles.layout_2 .main-image:before {
  content: none;
  transition: all o 0.2s ease-in-out;
}
.mainStyles.layout_2 .main-image img {
  width: 200px;
  display: block;
  border: 10px groove rgba(0, 128, 128, 0.36);
  transform: rotate(-2deg);
  transition: all 1s ease-in-out;
  z-index: 1;
}
.mainStyles .sandBox {
  position: fixed;
  z-index: -1;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
.mainStyles .sandBox canvas {
  transition: opacity 0.2s ease-in-out;
  transition-delay: .1s;
  opacity: 1;
}
@media screen and (max-width: 1024px) {
  .mainStyles .sandBox canvas {
    opacity: 0;
  }
}
.mainStyles .playPause {
  display: block;
  background: black;
  padding: 8px 16px;
  border-radius: 25px;
}
.mainStyles .playPause span {
  display: inline-block;
  vertical-align: middle;
  color: white;
  padding: 0 7px;
}
@media screen and (max-width: 1024px) {
  .mainStyles .playPause {
    display: none;
  }
}
.mainStyles .playPause input {
  display: none;
}
.mainStyles .playPause input:checked + .state {
  display: inline-block;
  border: 6px solid transparent;
  border-left: 12px solid white;
  border-right: 0px;
  background: transparent;
  padding: 0;
}
.mainStyles .playPause input:not(:checked) + .state {
  display: inline-block;
  background: white;
  padding: 6px;
}
